@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    display: block;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: Bold;
}

.wrapper {
    min-height: 100vh;
    background-color: #242424;
}

.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container {
   padding: 50px 0;
   width: 100%;
}

.row {
   width: 100%;
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 12px;
   display: flex;
   align-items: center;
}



/*

HEADER

*/

.container .header {
   display: flex;
   padding-top: 32px;
   justify-content: space-between;
}

.header__row {
   display: flex;
   justify-content: space-between;
}

.logo {
   display: flex;
   align-items: center;
   margin: 8px 0;
}

.logo__img{
   width: 100px;
   height: 100px;
}

.title p{
   font-weight: bold;
   font-size: 2rem;
   margin-left: 12px;
   padding-bottom: 2px;
}

.title p span{
   color: #6415ff;
}

.favorites {
   display: flex;
   align-items: center;
   padding-bottom: 2px;
   padding-right: 24px;
}

.favorites__btn {
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    font-weight: bold;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}



/*

SEARCH CONTAINER

*/

.search__container{
   background-color: #1d1d1d;
   height: 180px;
   display: flex;
   justify-content: center;
}
.search__row {
    width: 100%;
    max-width: 448px;
    height: 150px;
    margin: 0 auto;
    padding: 52px;
}
.search__element {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search__element .search__bar {
    width: 100%;
    border-radius: 500px;
    border: none;
    padding: 20px 192px 20px 32px;
    color: #242424;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
}
.search__bar--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

/* 

MAIN CONTAINER

*/

.main__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('./assets/bg-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  z-index: 2;
  padding: 40px;
  min-height: 63vh;
}

/* 

Watermark Area / Start Exploring Section 

*/

.poster__template {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;


}

.poster__template img {
  width: 50%;
  height: auto;
  max-width: 600px;
  display: block;
  object-fit: contain;
}

.start__exploring {
  color: #b1b1b1;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  padding-top: 100px;
}

.start__exploring span {
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
}



/* 

MOVIE CONTAINER 

*/

.movie__container {
  width: 50%;
  background-color: white;
  padding: 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 1px 2px #a1a1a1;
}

.movie__poster {
  width: 50%;
}

.movie__poster img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie__details {
  width: 100%;
  padding: 0px 10px 0px 20px;
}

.details__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dh__ls {
  width: 87%;
}

.dh__rs {
  text-align: right;
  width: 10%;
  padding: 5px 0px 0px 0px;
}

.details__header h1 {
  padding-bottom: 0px;
}

.italics__text {
  font-size: 15px;
  color: #555;
}

.details__ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 15px;
  margin-top: 10px;
}



/* 

FAVORITES CONTAINER 

*/

.fav__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 53%;
  padding: 10px;
  margin: 0px auto;
}

.fav__item {
  box-shadow: 1px 2px #a1a1a1;
  margin: 0px 5px 25px 5px;
  width: 28%;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

.fav__item a {
  text-decoration: none;
  color: inherit;
}

.fav__poster img {
  width: 100%;
  border-radius: 4px;
}

.fav__details-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 0px;
}

.fav__movie--name {
  color: black;
  font-size: 15px;
  margin-bottom: 0rem;
}

.fav__movie--rating {
  color: #888;
  font-style: italic;
  font-size: 13px;
  margin-bottom: 0rem;
}