@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body{
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.wrapper {
  min-height: 100vh;
  background-color: #00070f;
}

.wrapper .container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*

HEADER

*/

.container .header {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.logo__img{
  width: 100px;
  height: 100px;
  filter: invert(100%);
}

.title p{
  font-weight: bold;
  font-size: 2rem;
  margin-left: 12px;
  padding-bottom: 2px;
}

.title p span{
  color: #0c46c2;
}

.favorites {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  padding-right: 24px;
}

.favorites__btn {
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 500px;
  color: #fff;
  font-weight: bold;
  background-color: #0c46c2;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}
.favorites__btn:hover {
  background: #0799ed;
  transform: scale(1.1);
}
.favorites__btn:active {
  background: #42e7ef;
  color: #fff;
}



/*

SEARCH CONTAINER

*/

.search__container{
  background-color: #00070f;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__row {
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
  padding: 52px;
  display: flex;
  justify-content: center;
}
.search__box {
  display: flex;
  border: 3px solid #0c46c2;
  border-radius: 500px;
  width: 500px;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
}
.search__input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  color: #00070f;
}
.search__btn {
  background-color: #0c46c2;
  padding: 12px 32px;
  margin: 3px auto;
  margin-right: 3px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;
  cursor: pointer;
}
.search__btn:hover {
  background: #0799ed;
}
.search__btn:active {
  background: #42e7ef;
  color: #fff;
}

/* 

MAIN CONTAINER

*/


.main {
  padding: 40px;
  min-height: 63vh;
  background-image: url('./assets/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
/* 

Start Exploring 

*/

.start__exploring {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

.start__exploring span {
  font-size: 28px;
  font-weight: 600;
  padding-top: 5px;
}



/* 

MOVIE CONTAINER 

*/

.movie__container {
  width: 50%;
  background-color: #1c1c1c;
  padding: 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 1px 2px #a1a1a1;
}

.movie__poster {
  width: 50%;
}

.movie__poster img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie__details {
  width: 100%;
  padding: 0px 10px 0px 20px;
}

.details__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dh__ls {
  width: 87%;
}

.dh__rs {
  text-align: right;
  width: 10%;
  padding: 5px 0px 0px 0px;
}

.details__header h1 {
  padding-bottom: 0px;
}

.italics__text {
  font-size: 15px;
  color: #555;
}

.details__ul {
  color: #555;
  padding-left: 0px;
  font-size: 15px;
  margin-top: 10px;
}



/* 

FAVORITES CONTAINER 

*/

.fav__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.fav__item {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 8px;
}

.fav__item a {
  text-decoration: none;
  color: inherit;
}

.fav__poster img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.fav__details-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 0px;
}

.fav__movie--name {
  font-size: 18px;
  margin: 5px 0;
}

.fav__movie--date {
  font-size: 14px;
  color: #ccc;
}